#input {
    font-size: 24.39px; /* 30px * 0.81 */
    position: absolute;
    top: 50px; /* 73px * 0.81 */
    left: 70px; /* 105px * 1.23 */
    width: 400px; /* 476px * 1.23 */
    height: 250px; /* 368px * 1.23 */
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #DB876B;
  }

  #Qualifications {
    font-size: 24.39px; /* 30px * 0.81 */
    position: absolute;
    top: 350px; /* 488px * 1.23 */
    left: 70px; /* 105px * 1.23 */
    width: 400px; /* 476px * 1.23 */
    height: 250px;
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #DB876B;
  }

  #name {
    width: 650px; /* 729px * 1.23 */
    height: 100px; /* 160px * 1.23 */
    position: absolute;
    top: 60px; /* 73px * 0.81 */
    left: 570px; /* 678px * 1.23 */
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #839EAD;
  }

  #email {
    width: 650px; /* 729px * 1.23 */
    height: 100px; /* 160px * 1.23 */
    position: absolute;
    top: 200px; /* 281px * 0.81 */
    left: 570px; /* 678px * 1.23 */
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #839EAD;
  }

  #tips {
    width: 650px; /* 729px * 1.23 */
    height: 100px; /* 160px * 1.23 */
    position: absolute;
    top: 350px; /* 488px * 0.81 */
    left: 570px; /* 678px * 1.23 */
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #839EAD;
  }

  #category {
    width: 650px; /* 729px * 1.23 */
    height: 100px; /* 160px * 1.23 */
    position: absolute;
    top: 490px; /* 698px * 0.81 */
    left: 570px; /* 678px * 1.23 */
    border-radius: 24.6px; /* 20px * 1.23 */
    background-color: #839EAD;
  }