@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9; /* Background color of the entire page */
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #6c63ff; /* Header Color */
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px; /* same as header height */
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
}

#logoImg {
  scale: 0.7;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  font-family: "Sen", sans-serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

nav ul li a:hover {
  color: #ccc; /* Color when hovered */
  transition: color 0.3s ease;
}

nav ul li a:focus {
  outline: none;
  color: #fff;
}

.dropdown {
  margin: 20px;
  text-align: center;
}

.text-areas {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.text-areas .input-text,
.text-areas .output-text {
  flex-basis: 45%;
}

textarea {
  width: 100%;
  height: 300px; /* Adjust based on actual size required */
  margin-top: 10px;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  border: none;
  background-color: #f0ebe8;
  border-radius: 5px;
}

.generate-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.generate-button button {
  background-color: #73c1c6;
  color: white;
  border: none;
  padding: 10px 90px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.generate-button button:hover {
  background-color: #89dbe0;
  transition: background-color 0.4s ease; /* Smooth transition for color change */
}

/* Add additional styles for hover effects, active states, and responsive design */
.dropdown {
  position: relative;
  margin: 20px auto;
  width: 200px; /* Adjust the width as needed */
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff; /* Adjust the color to match the label color in the image */
  text-align: left;
}

.dropdown select {
  display: block;
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #cccccc; /* Adjust the color to match the border color in the image */
  background-color: #ffffff;
  -webkit-appearance: none; /* Removes default styling on iOS */
  -moz-appearance: none; /* Removes default styling on Firefox */
  appearance: none; /* Removes default styling */
  position: relative;
  background-image: url("dropdown-arrow.svg"); /* Path to your custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

/* Focus Styles */
.dropdown select:focus {
  outline: none;
  border-color: #a8a8a8; /* Adjust the color to match the focus color in the image */
}

#plotly-chart {
  width: 100%;
  height: 80%;
  text-align: center;
}

#pie-chart {
  width: 90%;
  height: 400px;
}

#bar-chart {
  margin-top: -100px;
  width: 100%;
  height: 360px;
}

.analytic-containers {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.left-analytics,
.right-analytics {
  flex-basis: 45%;
  padding: 10px;
}

.actual-analytic-cont {
  width: 100%;
  height: 650px; /* Adjust based on actual size required */
  margin-top: 10px;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  border: none;
  background-color: #f0ebe8;
  border-radius: 10px;
}

.most-used-word-row {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  margin-bottom: 10px;
}

.most-used-word-left {
  flex-basis: 60%;
}
.most-used-word-right {
  padding-top: 10px;
  padding-left: 10px;
  flex-basis: 45%;
  border-left: 2px;
  border-color: #000;
}
h2 {
  font-family: "Readex Pro", sans-serif;
}

#most_common_words_div {
  font-family: "Sen", sans-serif;
}

#UseCounter {
  padding-top: 10px;
  text-align: center;
  font-family: "Readex Pro", sans-serif;
}
