<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusify App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" class="image" id="logoImg" />
        </div>
        <nav>
            <ul>
                <li><a href="/translate-home">Translate</a></li>
                <li><a href="/analytics">Analytics</a></li>
            </ul>
        </nav>

    </header>


    <div class="analytic-containers">
        <div class="left-analytics">
            <div class="actual-analytic-cont" id="left-actual-analytic-cont">

                <!--* Most used word  -->
                <div class="most-used-word-row">
                    <div class="most-used-word-left">
                        <div id="pie-chart"></div>

                        <script>
                            // Parse the Plotly JSON and render the pie chart
                            var pieChartJson = {{ pie_chart_json | safe }};
                            pieChartJson.data[0].hoverinfo = 'label+value';
                            pieChartJson.data[0].textinfo = 'label';
                            Plotly.newPlot('pie-chart', pieChartJson);
                        </script>
                    </div>
                    <div class="most-used-word-right">
                        <h2>Top 10 Most Used Words</h2>
                        <ul>
                            {% for word, count in most_common_words %}
                            <li class="most_common_words_div">{{ word }} - {{ count }} times</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="bar-chart"></div>

                <script>
                    // Parse the Plotly JSON and render the bar chart
                    var barChartJson = {{ bar_chart_json | safe }};
                    Plotly.newPlot('bar-chart', barChartJson.data, barChartJson.layout);
                </script>

            </div>
        </div>
        <div class="right-analytics">
            <div class="actual-analytic-cont" id="right-actual-analytic-cont">

                <h2 id="UseCounter">Number of uses: {{ max_id }}</h2>
                <div id="plotly-chart"></div>

                <script>
                    // Parse the Plotly JSON and render the chart
                    var plotJson = {{ plot_json | tojson | safe }};
                    Plotly.newPlot('plotly-chart', JSON.parse(plotJson.replace(/&quot;/g, '"')));
                </script>

            </div>


        </div>
    </div>

</body>

</html>