<!DOCTYPE html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Weather</title>
    <link href="{url_for('static', filename='css/style.css)} rel=" rel="stylesheet"/>
</head>

<body>
    <h1>Input: {{inputt}}</h1>
    <h1>Translation: {{title}}</h1>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <button type="submit">Submit</button>
    </form>
</body>

</html> -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusify App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" class="image" id="logoImg"/>
        </div>
        <nav>
          <ul>
            <li><a href="/translate-home">Translate</a></li>
            <li><a href="/analytics">Analytics</a></li>
          </ul>
      </nav>
      
    </header>
    <main>

    </main>
</body>
</html>