<!DOCTYPE html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Input</h1>
    <form action="/weather">
        <input type="text" name="input" id="input" placeholder="Input" />
        <button type="submit">Submit</button>
    </form>
</body>
</html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusify App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>

    </header>
    <main>
        <form action="/translate">
        <div class="text-areas">
            <div class="input-text">
            <input name="input" id="input" placeholder="event description"></input>
            </div>
    <input type="text" id="name" name="name" placeholder="Your Name" required><br><br>
    <input type="text" id="email" name="email" placeholder="date" required><br><br>
    <input type="text" id="tips" name="tips" placeholder="Event Name" required><br><br>
    <input id="Qualifications" name="Qualifications" placeholder="Your Qualifications" required></input><br><br>
    <input type="text" id="title" name="title" placeholder="Category" required><br><br>
        <!-- <div class="output-text"> -->
                <!-- <label for="outputText">Output Text</label> -->
                <!-- <textarea id="outputText" placeholder="Results show here..." readonly></textarea> -->
            <!-- </div> -->
        </div>
        <div class="generate-button">
            <button type="submit">Generate</button>
        </div>
    </form>
    </main>
</body>
</html>






